@import "./_typography.scss";

.card {
  border-radius: 7px;
}

.label {
  font-weight: 400;
}

.textarea {
  resize: none;
}

@mixin font-snapshot($spacing, $size) {
  letter-spacing: ($spacing / 16);
  font-size: $size;
}

.is-size-7 {
  @include font-snapshot($ls-subtitle-2, $fs-subtitle-2);
}

.is-caption {
  @include font-snapshot($ls-caption, $fs-caption);
}

.is-body {
  @include font-snapshot($ls-body-1, $fs-body-1);
}

.is-title {
  @include font-snapshot($ls-subtitle-1, $fs-subtitle-1);
}

.is-title-2 {
  @include font-snapshot($ls-subtitle-2, $fs-subtitle-2);
}

.is-body-2 {
  @include font-snapshot($ls-body-2, $fs-body-2);
}

.is-size-6 {
  @include font-snapshot($ls-h6, $fs-h6);
}

.is-size-5 {
  @include font-snapshot($ls-h5, $fs-h5);
}

.is-size-4 {
  @include font-snapshot($ls-h4, $fs-h4);
}

.is-size-3 {
  @include font-snapshot($ls-h3, $fs-h3);
}

.is-size-2 {
  @include font-snapshot($ls-h2, $fs-h2);
}

.is-size-1 {
  @include font-snapshot($ls-h1, $fs-h1);
}

.button {
  min-height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  @include font-snapshot(0.2rem, $fs-button);
  text-transform: uppercase;
  font-weight: 700;
}

.input::placeholder,
.textarea::placeholder {
  @extend .is-body-2;
}

.card-footer-item {
  padding-top: 24px;
  padding-bottom: 24px;
  @include font-snapshot(0.75rem, $fs-subtitle-2);
}
