/* Bottom Padding */
.padding-b-4 {
  padding-bottom: 4px;
}

.padding-b-8 {
  padding-bottom: 8px;
}

.padding-b-16 {
  padding-bottom: 16px;
}

.padding-b-24 {
  padding-bottom: 24px;
}

/* Top Padding */
.padding-t-4 {
  padding-top: 4px;
}

.padding-t-8 {
  padding-top: 8px;
}

.padding-t-16 {
  padding-top: 16px;
}

.padding-t-24 {
  padding-top: 24px;
}

/* Vertical Padding */
.padding-y-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-y-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-y-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-y-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Vertical Margin */
.margin-y-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin-y-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-y-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-y-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Horizontal Padding */
.padding-x-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-x-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-x-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-x-24 {
  padding-left: 24px;
  padding-right: 24px;
}

/* Horizontal Margin */
.margin-x-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.margin-x-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-x-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-x-24 {
  margin-left: 24px;
  margin-right: 24px;
}

/* X&Y Padding*/
.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-16 {
  padding: 16px;
}

.padding-24 {
  padding: 16px;
}

/* X&Y Margin*/
.margin-4 {
  margin: 4px;
}

.margin-8 {
  margin: 8px;
}

.margin-16 {
  margin: 16px;
}

.margin-24 {
  margin: 16px;
}

/*Width Manipulation*/
.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}
