/*Google Material Desgin - Web Font Standards*/

/* Conventions */
/* sp-conv => spacing conversion */
/* fs-* => font-size */
/* ls-* => letter-spacing */

$sp-conv: 0.0625rem;

$fs-overline: 10 * $sp-conv;
$ls-overline: 1.5rem;

$fs-caption: 12 * $sp-conv;
$ls-caption: 0.4rem;

$fs-button: 12 * $sp-conv;
$ls-button: 0.75rem;

$fs-body-1: 16 * $sp-conv;
$ls-body-1: 0.5rem;

$fs-body-2: 14 * $sp-conv;
$ls-body-2: 0.25rem;

$fs-subtitle-1: 16 * $sp-conv;
$ls-subtitle-1: 0.2rem;

$fs-subtitle-2: 14 * $sp-conv;
$ls-subtitle-2: 0.15rem;

$fs-h6: 18 * $sp-conv;
$ls-h6: 0.15rem;

$fs-h5: 22 * $sp-conv;
$ls-h5: 0rem;

$fs-h4: 26 * $sp-conv;
$ls-h4: -0.25rem;

$fs-h3: 38 * $sp-conv;
$ls-h3: 0rem;

$fs-h2: 44 * $sp-conv;
$ls-h2: -0.5rem;

$fs-h1: 94 * $sp-conv;
$ls-h1: -0.15rem;
