.FormSection {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.Experience {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.Projects,
.Educations {
  margin-bottom: 16px;
}

.ExperienceView {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.ProjectView,
.EducationView {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.RecruiterContact {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 8px auto;
  &--Field {
    flex-basis: 50%;
    padding-right: 8px;
  }
}
