@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,500,600,700");

$family-sans-serif: "Nunito", sans-serif;
$primary: #304ffe;
$secondary: #00c853;
$link: #00c853;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: #fafafa;
$control-border-width: 2px;
$input-shadow: none;
$input-border-color: rgba(0, 0, 0, 0.1);

@import "bulma/bulma.sass";
@import "styles/_spacing.scss";
@import "styles/_overrides.scss";
@import "styles/_base.scss";
